$primary-background-color: #000000;
$primary-text-color: #FFFFFF;
$ultra-text-color: #FFCB5E;
$legendary-text-color: #8270a2;
$rare-text-color: #007788;
$primary-font-family: 'Permanent Marker', cursive;
$padding-standard: 10px;
$margin-standard: 10px;
$margin-small: 2px;